ion-grid{
  width: fit-content;
  // text-align: center;


ion-row{
  margin-bottom: 10px;
}

}

.button1{
 margin-left: 0px;
 text-align: center;
 width: 100%;
}

.icon{
 font-size: 60px;
}

.tab1{
  width:200px;
  height: 10px;
  font-size: 13px;
}
.last{
  width:250px;
  height: 30px;
}

ion-icon {
  font-size: 20px;

  
}

ion-toolbar{
  --background: none;
  background-color: black ;
}

ion-button{
  height: 30px;
  width : 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  --background: black;
  font-size: 10px;

  
  }

  .buttonf{
   width: 150px;
   margin-left: -20px;
  
  }

  .hover{
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 158;
    z-index: 1;
  }
  .hover a:hover{
    background-color: #000;
    color:#fff
  }
  .buttonf:hover .hover{
    display:block;
  }
